<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-assets-path="/static/common/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Online Crime Reporting System</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/landing_page/images/logo.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/static/common/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/common/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/common/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/common/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/common/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/static/common/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/static/common/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/common/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            {% block police_sidebar %}
            {% endblock %}
            {% block user_sidebar %}
            {% endblock %}
            {% block police_incharge_sidebar %}
            {% endblock %}

            <div class="layout-page">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                    aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->

                            <!-- marketx -->
                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                            <!-- <li class="nav-item lh-1 me-3">
                                <a class="github-button"
                                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
                            </li> -->
                            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="{{ MEDIA_URL }}{{ user.profile_image.url }}" alt
                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="{{ MEDIA_URL }}{{ user.profile_image.url }}" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">{{ request.user.username }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    
                                    
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'user_logout'  %}">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>

                <div class="content-wrapper">

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            {% block hello_user %}

                            {% endblock %}

                            {% block user_boxes %}

                            {% endblock %}
                            
                            {% block hello_pi %}

                            {% endblock %}

                            {% block pi_boxes %}

                            {% endblock %}

                            {% block hello_p %}

                            {% endblock %}

                            {% block p_boxes %}

                            {% endblock %}

                            
                        </div>
                        {% block complaint %}

                        {% endblock %}

                        {% block police_incharge_view_complaint %}

                        {% endblock %}

                        {% block manage_complaint %}

                        {% endblock %}

                        {% block view_fir %}

                        {% endblock %}

                        {% block user_view_complaints %}

                        {% endblock %}

                        {% block user_view_complaint %}

                        {% endblock %}

                        {% block user_view_firs %}

                        {% endblock %}

                        {% block user_view_fir %}

                        {% endblock %}

                        {% block user_view_csrs %}

                        {% endblock %}

                        {% block user_view_csr %}

                        {% endblock %}

                        {% block view_only_fir %}

                        {% endblock %}

                        {% block view_only_csr %}

                        {% endblock %}

                        {% block view_only_firs %}

                        {% endblock %}

                        {% block view_only_csrs %}

                        {% endblock %}

                        {% block view_csr %}

                        {% endblock %}

                        {% block manage_csr %}

                        {% endblock %}

                        {% block manage_fir %}

                        {% endblock %}

                        
                        {% block police_view_only_firs %}

                        {% endblock %}

                        {% block police_view_only_fir %}

                        {% endblock %}

                        {% block police_view_only_csrs %}

                        {% endblock %}

                        {% block police_view_only_csr %}

                        {% endblock %}

                        {% block police_manage_csrs %}

                        {% endblock %}

                        {% block police_manage_csr %}

                        {% endblock %}

                        {% block police_manage_firs %}

                        {% endblock %}

                        {% block police_manage_fir %}

                        {% endblock %}

                        {% block user_manage_profile %}

                        {% endblock %}

                        {% block police_incharge_manage_profile %}

                        {% endblock %}
                        
                        {% block police_manage_profile %}

                        {% endblock %}

                        {% block view_complaints_for_feedbacks %}

                        {% endblock %}

                        {% block feedbacks %}

                        {% endblock %}


                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/static/common/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/common/vendor/libs/popper/popper.js"></script>
    <script src="/static/common/vendor/js/bootstrap.js"></script>
    <script src="/static/common/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/static/common/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/static/common/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Main JS -->
    <script src="/static/common/js/main.js"></script>

    <!-- Page JS -->
    <script src="/static/common/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>