{% extends 'police_incharge_sidebar.html' %}

{% block manage_complaint %}
<!-- -----------------------------------  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- -----------------------------------  -->
<style>
    .white-placeholder::placeholder {
        color: rgb(116, 114, 114);
    }
</style>





<div class="row">
    <div class="col-xl">
        <div class="card mb-4">

            <div class="card-body">

                <form action="{% url 'register_fir_csr' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Complainant Full Name </label>
                        <input type="text" name="name" value="{{complaints.complainant_name}}"
                            placeholder="{{complaints.complainant_name}}" class="form-control white-placeholder"
                            id="basic-default-fullname" readonly />
                    </div>

                    <label class="mb-2 form-label" for="basic-default-fullname"
                        style="margin-bottom: -4px;">Complainant Gender</label><br>
                    <input type="text" value="{{complaints.complainant_gender}}"
                        placeholder="{{complaints.complainant_gender}}" name="gender"
                        class="white-placeholder mb-3 form-control" id="basic-default-fullname" readonly />



                    <!-- ======================================================================================================== -->
                    <div class="mb-3">
                        <label for="address" class="form-label">Complainant Address </label>
                        <textarea name="address" id="address" class="white-placeholder form-control" readonly cols="40"
                            rows="5" value="{{complaints.complainant_address}}"
                            placeholder="{{complaints.complainant_address}}"></textarea>
                    </div>



                    <div class="mb-4">
                        <label for="exampleFormControlSelect1" class=" form-label">Complainant State or UT</label>
                        <input readonly name="complainant_state_name" type="text"
                            value="{{complaints.complainant_state_name}}"
                            placeholder="{{complaints.complainant_state_name}}" class="white-placeholder form-control">

                    </div>


                    <div class="mb-4">
                        <label for="complainant_district" class="form-label">Complainant District</label>
                        <input readonly type="text" name="complainant_district_name"
                            value="{{complaints.complainant_district_name}}"
                            placeholder="{{complaints.complainant_district_name}}"
                            class="white-placeholder form-control">
                    </div>

                    <div class="mb-3">
                        <label for="pincode" class="form-label">Complainant PIN CODE </label>
                        <input readonly type="pincode" class="white-placeholder form-control" name="pincode"
                            id="pinbcode" value="{{complaints.complainant_pin_code}}"
                            placeholder="{{complaints.complainant_pin_code}}" min="000000" max="999999">
                    </div>
                    <!-- ========================================================================================================================== -->

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-phone">Complainant Phone Number</label>
                        <input readonly type="text" name="contact_no" id="basic-default-phone"
                            class="white-placeholder form-control phone-mask"
                            value="{{complaints.complainant_contact_no}}"
                            placeholder="{{complaints.complainant_contact_no}}" />
                    </div>
                    <div class="mb-3 mt-1">
                        <label class="form-label" for="basic-default-email">Complainant Email</label>
                        <div class="input-group input-group-merge">
                            <input readonly type="text" name="email" id="basic-default-email"
                                class="white-placeholder form-control" value="{{complaints.complainant_email}}"
                                placeholder="{{complaints.complainant_email}}"
                                aria-describedby="basic-default-email2" />
                        </div>
                    </div>

                    <div class="mb-3 ">
                        <label for="html5-date-input" class="form-label">Complainant Date Of Birth</label>
                        <input readonly value="{{complaints.complainant_dob}}"
                            placeholder="{{complaints.complainant_dob}}" class="white-placeholder form-control"
                            name="dob" type="text" id="html5-date-input" />
                    </div>


                    <div class="mb-4">
                        <label for="exampleFormControlSelect1" class="form-label">Crime Category / Complaint
                            Type</label>
                        <input readonly name="crime_category" value="{{complaints.crime_category}}"
                            placeholder="{{complaints.crime_category}}" type="text"
                            class="white-placeholder form-control">

                    </div>

                    <div id="other_crime_category" class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Other Crime Category /
                            Complaint Type
                        </label>
                        <input readonly type="text" value="{{complaints.other_crime_category}}"
                            placeholder="{{complaints.other_crime_category}}" name="other_crime_category"
                            class="white-placeholder form-control" id="basic-default-fullname" />
                    </div>


                    <div class="mb-4">
                        <label for="exampleFormControlSelect1" class="form-label">Complaint State or UT</label>
                        <input readonly type="text" name="state_name" value="{{complaints.state_name}}"
                            placeholder="{{complaints.state_name}}" class="white-placeholder form-control">

                    </div>


                    <div class="mb-4">
                        <label for="complaint_district" class="form-label">Complaint District</label>
                        <input readonly value="{{complaints.district_name}}" name="district_name"
                            placeholder="{{complaints.district_name}}" type="text"
                            class="white-placeholder form-control">

                    </div>


                    <div class="mb-4">
                        <label for="exampleFormControlSelect1" class="form-label">Complaint Police Station</label>
                        <input readonly value="{{complaints.station_name}}" name="station_name"
                            placeholder="{{complaints.station_name}}" type="text"
                            class="white-placeholder form-control">

                    </div>




                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Subject</label>
                        <input type="text" readonly name="subject" class="white-placeholder form-control"
                            id="basic-default-company" value="{{complaints.subject}}"
                            placeholder="{{complaints.subject}}" />
                    </div>


                    <div class="mb-3">
                        <label class="form-label" id="detailed_description" for="basic-default-message">Detailed
                            Description</label>
                        <textarea readonly id="basic-default-message" name="detailed_description"
                            class="white-placeholder form-control" value="{{complaints.detailed_description}}"
                            placeholder="{{complaints.detailed_description}}"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Reasons for delay in reporting by the
                            complainant/informant</label>
                        <textarea readonly id="basic-default-message" name="delay_in_complaining"
                            class="white-placeholder form-control" value="{{complaints.delay_reason}}"
                            placeholder="{{complaints.delay_reason}}"></textarea>
                    </div>


                    <div class="mb-3 row">
                        <label for="html5-datetime-local-input" class="col-md-2 col-form-label">Date and Time of
                            Occurence</label>
                        <div class="col-md-10">
                            <input readonly value="{{complaints.datetime_of_occurence}}"
                                placeholder="{{complaints.datetime_of_occurence}}"
                                class="white-placeholder form-control" name="date_time_of_occurence" type="text"
                                id="html5-datetime-local-input" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Place of Occurence</label>
                        <input type="text" value="{{complaints.place_of_occurence}}"
                            placeholder="{{complaints.place_of_occurence}}" readonly name="place_of_occurence"
                            class="white-placeholder form-control" id="basic-default-company" />
                    </div>

                    {% if has_image %}
                    <label class="form-label" for="basic-default-company">Evidence image</label>
                    <div class="d-flex align-items-start align-items-sm-center gap-4 mb-3">
                        <img src="{{ MEDIA_URL }}{{ complaints.evidence_image.url }}" class="d-block rounded"
                            height="100" width="100" id="uploadedAvatar" />
                        <div class="button-wrapper">
                            <a href="{{ MEDIA_URL }}{{ complaints.evidence_image.url }}" target="_blank"
                                rel="noopener noreferrer" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Open Image in new tab</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    <div class="mb-3 ">
                        <label for="html5-date-input" class="form-label">Reporting Date & Time</label>
                        <input readonly value="{{complaints.created_at}}" placeholder="{{complaints.created_at}}"
                            class="white-placeholder form-control" name="dob" type="text" id="html5-date-input" />
                    </div>

                    <hr size="4">
                    <div class="mb-3 csr_hide">
                        <label class="form-label" for="basic-default-company">C.S.R NUMBER / G.D NUMBER</label>
                        <input type="text" name="csr_no" class="form-control" id="basic-default-company"
                            placeholder="Enter the C.S.R Number" />
                    </div>


                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">F.I.R NUMBER</label>
                        <input type="text" name="fir_no" class="form-control" id="basic-default-company"
                            placeholder="Enter the F.I.R Number" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">Acts & Sections</label>
                        <input type="text" name="act_and_sections" class="form-control" id="basic-default-company"
                            placeholder="Enter the Acts and Sections" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">General Diary Entry Number</label>
                        <input type="text" name="gd_number" class="form-control" id="basic-default-company"
                            placeholder="Enter the G.D Entry Number" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label for="defaultSelect" class="form-label">Type of Information</label>
                        <select id="defaultSelect" name="type_of_information" class="form-select">
                            <option value="1">Written</option>
                            <option value="2">Oral</option>
                        </select>
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">Nearest Identiafiable Place</label>
                        <input type="text" name="nearby_place" class="form-control" id="basic-default-company"
                            placeholder="Enter Nearest Identiafiable Place" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">Direction & Distance from Police
                            Station</label>
                        <input type="text" name="dist_from_ps" class="form-control" id="basic-default-company"
                            placeholder="Enter Direction & Distance from Police Station" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">Complainant Religion</label>
                        <input type="text" name="complainant_religion" class="form-control" id="basic-default-company"
                            placeholder="Enter Complainant Religion" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-company">Complainant Caste</label>
                        <input type="text" name="complainant_caste" class="form-control" id="basic-default-company"
                            placeholder="Enter Complainant Caste" />
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-message">Details of Suspect Or Accused</label>
                        <textarea id="basic-default-message" name="sus_acu_details" class="form-control"
                            placeholder="Provide the details about the suspect or accused"></textarea>
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-message">Particulars of properties Stolen /
                            Involved</label>
                        <textarea id="basic-default-message" name="property_involved" class="form-control"
                            placeholder="Provide the details about the property which is stolen or involved"></textarea>
                    </div>

                    <div class="mb-3 fir_fields">
                        <label class="form-label" for="basic-default-message">Total value of properties Stolen /
                            Involved</label>
                        <textarea id="basic-default-message" name="property_value" class="form-control"
                            placeholder="Provide the value of the property which is stolen or involved"></textarea>
                    </div>

                    <div class="mb-3 csr_hide" id="info_by_si">
                        <label class="form-label" for="basic-default-message">Info By Station Incharge</label>
                        <textarea  id="basic-default-message" name="info_by_incharge" class="form-control"
                            {% if complaints.status == 'Rejected' %}
                            readonly
                            placeholder="{{ complaints.info_by_station_incharge }}"
                        {% else %}
                        placeholder="Provide the message or information which you want to send to the complainant
                        {% endif %}"></textarea>
                    </div>


                    <div id="button_if_disabled" style="margin-left: 440px;">
                        <button type="button" id="csr" class="btn btn-info">N.C.R
                            /C.S.R</button>
                        <button type="button" id="fir" class="btn btn-success">F.I.R</button>
                        <button type="button" id="reject" class="btn btn-danger">Reject</button>
                    </div>




                    <input type="hidden" id="complaint_type" name="complaint_type">
                    <input type="hidden" name="complaint_id" value="{{complaint_id}}">



                    <br>

                    <button type="submit" style="width: 100%;" id="submit" class="btn btn-primary">Submit</button>

                    <br>
                    <br>

                    <!-- <div class="alert alert-primary" role="alert">Here only complaint fields will be shown if F.I.R / C.S.R is filed go to 
                        <a href="{% url 'view_only_csrs'  %}" style="text-decoration: underline;"> View C.S.R </a>
                        Or 
                        <a href="{% url 'view_only_firs'  %}" style="text-decoration: underline;"> View F.I.R </a>
                        to see all fields.
                    </div> -->

                    <!-- {% if status == "CSR is Filed" %}
                    <div class="alert alert-primary" role="alert">Complaint is Filed as C.S.R For More Details Go to
                        <a href="{% url 'view_only_csrs'  %}" style="text-decoration: underline;"> View C.S.R </a> </div>
                    {% elif status == "FIR is Filed" %}
                    <div class="alert alert-primary" role="alert">Complaint is Filed as F.I.R For More Details Go to
                        <a href="{% url 'view_only_firs'  %}" style="text-decoration: underline;"> View F.I.R </a></div>
                    {%endif%} -->

                    
                </form>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    let status = "{{ complaints.status }}";
    if (status === "Rejected") {
        // hide fir and csr buttons
        document.getElementById("fir").style.display = "none";
        document.getElementById("csr").style.display = "none";
        // disable submit button
        document.getElementById("submit").disabled = true;
        // change reject button text
        document.getElementById("reject").innerHTML = "Rejected";
        // disable reject button
        document.getElementById("reject").disabled = true;
        document.getElementById("button_if_disabled").style.marginLeft = "520px";
        document.querySelectorAll('.fir_fields').forEach(field => {
            field.style.display = 'none';
        });
        document.getElementsByClassName('csr_hide')[0].style.display = 'none';
        document.getElementsByClassName('csr_hide')[1].style.display = 'none';
        document.getElementById('info_by_si').style.display = 'block';
        // document.getElementById('info_by_incharge').ariaPlaceholder = ""
        // document.getElementById('info_by_incharge').placeholder = '{{complaints.info_by_station_incharge}}';


    }
    else if (status === "CSR is Filed") {
        document.getElementById("submit").disabled = true;
        document.querySelectorAll('.fir_fields').forEach(field => {
            field.style.display = 'none';
        });
        
        document.getElementById("submit").disabled = true;
        document.getElementById("csr").innerHTML = "CSR is Filed";
        document.getElementById("csr").disabled = true;
        
        document.querySelectorAll('.fir_fields').forEach(field => {
            field.style.display = 'none';
        });
        // -----------
        document.getElementsByClassName('csr_hide')[0].style.display = 'none';
        document.getElementById('info_by_si').style.display = 'none';
        //-----------
        document.getElementById("reject").style.display = "none";
        document.getElementById("button_if_disabled").style.marginLeft = "520px";
        document.getElementById("fir").style.display = "none";
        let detailedDescriptionLabel = document.getElementById('detailed_description');
        detailedDescriptionLabel.innerHTML = 'CSR Detailed Description';


    }
    else if (status === "FIR is Filed") {
        document.getElementById("submit").disabled = true;
        document.getElementById("fir").innerHTML = "FIR is Filed";
        document.getElementById("fir").disabled = true;
        document.getElementsByClassName('csr_hide')[0].style.display = 'none';
        document.getElementById("reject").style.display = "none";
        document.getElementById("button_if_disabled").style.marginLeft = "520px";
        document.getElementById('info_by_si').style.display = 'none';
        document.getElementById("csr").style.display = "none";
        document.querySelectorAll('.fir_fields').forEach(field => {
            field.style.display = 'none';
        });
        let detailedDescriptionLabel = document.getElementById('detailed_description');
        detailedDescriptionLabel.innerHTML = 'FIR Detailed Description';

    }
    else {
        // Get references to the button and the fields
        const csr_button = document.getElementById('csr');
        const csrNoField = document.getElementsByClassName('csr_hide')[0];
        const infoField = document.getElementsByClassName('csr_hide')[1];
        let detailedDescriptionLabel = document.getElementById('detailed_description');
        let complaint_type = document.getElementById('complaint_type');

        // Hide the fields initially
        csrNoField.style.display = 'none';
        infoField.style.display = 'none';

        // Add a click event listener to the CSR button
        csr_button.addEventListener('click', () => {
            // Toggle the visibility of the fields
            if (csrNoField.style.display === 'none') {
                csrNoField.style.display = 'block';
                infoField.style.display = 'block';
                detailedDescriptionLabel.innerHTML = 'NCR Detailed Description';

            } else {
                csrNoField.style.display = 'none';
                infoField.style.display = 'none';
                detailedDescriptionLabel.innerHTML = 'Detailed Description';


            }
            complaint_type.value = "csr";
            console.log(complaint_type.value)

            // Hide FIR fields if visible
            hideFirFields();
        });

        // Get references to the FIR button and the fields
        let firFields = document.querySelectorAll('.fir_fields');
        let firButton = document.getElementById('fir');
        let isFirFieldsVisible = false;


        // Hide FIR fields initially
        firFields.forEach(field => {
            field.style.display = 'none';
        });

        // Add a click event listener to the FIR button
        firButton.addEventListener('click', () => {
            // Toggle the visibility of the fields
            if (isFirFieldsVisible) {
                firFields.forEach(field => {
                    field.style.display = 'none';
                });
                document.getElementById('info_by_si').style.display = 'none';
                isFirFieldsVisible = false;
                detailedDescriptionLabel.innerHTML = 'Detailed Description';


            } else {
                firFields.forEach(field => {
                    field.style.display = 'block';
                });
                isFirFieldsVisible = true;
                detailedDescriptionLabel.innerHTML = 'FIR Detailed Description';
                infoField.style.display = 'block';

            }
            complaint_type.value = "fir";
            console.log(complaint_type.value)
            // Hide CSR fields if visible
            hideCsrFields();
        });

        // Function to hide CSR fields if visible
        function hideCsrFields() {
            if (csrNoField.style.display === 'block') {
                csrNoField.style.display = 'none';
                infoField.style.display = 'none';
            }
        }

        // Function to hide FIR fields if visible
        function hideFirFields() {
            if (isFirFieldsVisible) {
                firFields.forEach(field => {
                    field.style.display = 'none';
                });
                isFirFieldsVisible = false;
            }
        }
        const rejectButton = document.getElementById('reject');

        rejectButton.addEventListener('click', () => {
            // Hide CSR fields if visible
            if (csrNoField.style.display === 'block') {
                csrNoField.style.display = 'none';
                infoField.style.display = 'none';
                document.getElementById('info_by_si').style.display = 'none';
            }
            document.getElementById('info_by_si').style.display = 'block'
            
           
            // Hide FIR fields if visible
            if (isFirFieldsVisible) {
                firFields.forEach(field => {
                    field.style.display = 'none';
                });
                isFirFieldsVisible = false;
            }
            // if(complaint_type.value == "")
            // {
            //     complaint_type.value = "reject";
            //     console.log(complaint_type.value)
            // }
            // else if(complaint_type.value == "fir" ||complaint_type.value == "csr")
            // {
            //     complaint_type.value = "reject";
            //     console.log(complaint_type.value)
            // }

            complaint_type.value = "reject";
            console.log(complaint_type.value)
        });
    }
</script>

{% endblock %}