{% extends 'common_css_js_links.html' %}
{% block police_incharge_sidebar %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'police_incharge_home'  %}" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="/static/landing_page/images/logo2.png" alt="">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform: none;">O.C.R.S</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="{% url 'police_incharge_home'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Home</div>
            </a>
        </li>
        <!-- Cards -->
        <li class="menu-item">
            <a href="{% url 'police_incharge_manage_profile'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Manage Profile</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'police_incharge_view_complaint'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Basic">Manage Complaint</div>
            </a>
        </li>
        
        <li class="menu-item">
            <a href="{% url 'view_only_firs'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Basic">View FIR</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'view_only_csrs'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Basic">View CSR</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="{% url 'view_fir'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Basic">Manage FIR</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'view_csr'  %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Basic">Manage CSR</div>
            </a>
        </li>

        <!-- Cards -->
    
        
    </ul>
</aside>

<script>

    let Home = document.querySelectorAll('.menu-item')[0];
    let Manage_Profile = document.querySelectorAll('.menu-item')[1];
    let Manage_Complaint = document.querySelectorAll('.menu-item')[2];
    let view_only_fir = document.querySelectorAll('.menu-item')[3];
    let view_only_csr = document.querySelectorAll('.menu-item')[4];
    let manage_fir = document.querySelectorAll('.menu-item')[5];
    let  manage_csr = document.querySelectorAll('.menu-item')[6];

    var currentUrl = window.location.href;
    // HOME 
    if (window.location.href.includes("police_incharge_home") ) {
        Home.classList.add('active');
        Manage_Complaint.classList.remove('active');
        Manage_Profile.classList.remove('active');
        manage_fir.classList.remove('active');
        manage_csr.classList.remove('active');
        view_only_fir.classList.remove('active');
        view_only_csr.classList.remove('active');
    } 

    // Manage Complaint 
    else if (window.location.href.includes("police_incharge_view_complaint") || window.location.href.includes("manage_complaint"))
    {
        Manage_Complaint.classList.add('active');
        Manage_Profile.classList.remove('active');
        Home.classList.remove('active');
        manage_fir.classList.remove('active');
        manage_csr.classList.remove('active');
        view_only_fir.classList.remove('active');
        view_only_csr.classList.remove('active');
    }

    else if (window.location.href.includes("police_incharge_manage_profile") )
    {
        Manage_Complaint.classList.remove('active');
        Manage_Profile.classList.add('active');
        Home.classList.remove('active');
        manage_fir.classList.remove('active');
        manage_csr.classList.remove('active');
        view_only_fir.classList.remove('active');
        view_only_csr.classList.remove('active');
    }

    // Manage Fir 
    else if (window.location.href.includes("view_fir") || window.location.href.includes("manage_fir") )
    {
        manage_fir.classList.add('active');
        Manage_Profile.classList.remove('active');
        Home.classList.remove('active');
        Manage_Complaint.classList.remove('active');
        manage_csr.classList.remove('active');
        view_only_fir.classList.remove('active');
        view_only_csr.classList.remove('active');
    }

    // Manage Csr 
    else if (window.location.href.includes("view_csr") || window.location.href.includes("manage_csr") )
    {  
        view_only_fir.classList.remove('active');
        Manage_Profile.classList.remove('active');
        Home.classList.remove('active');
        Manage_Complaint.classList.remove('active');
        manage_fir.classList.remove('active');
        view_only_csr.classList.remove('active');
        manage_csr.classList.add('active');
    }

    // View Fir 
    else if (window.location.href.includes("view_only_firs") || window.location.href.includes("view_only_fir") )
    {
        manage_csr.classList.remove('active');
        Manage_Profile.classList.remove('active');
        Home.classList.remove('active');
        Manage_Complaint.classList.remove('active');
        manage_fir.classList.remove('active');
        view_only_csr.classList.remove('active');
        view_only_fir.classList.add('active');
    }
    
    // View Fir 
    else if (window.location.href.includes("view_only_csrs") || window.location.href.includes("view_only_csr") )
    {
        manage_csr.classList.remove('active');
        Manage_Profile.classList.remove('active');
        Home.classList.remove('active');
        Manage_Complaint.classList.remove('active');
        manage_fir.classList.remove('active');
        view_only_fir.classList.remove('active');
        view_only_csr.classList.add('active');
    }

    
    

</script>


{% endblock %}