{% extends 'user_sidebar.html' %}
{% block view_complaints_for_feedbacks %}
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Police Station</th>
                    <th>Complaint Type</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                {% for fir in completed_firs %}
                <tr>
                    <td><a href="{% url 'feedback' id=fir.fir_id type='fir' %}"><i
                                class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ fir.subject}}</strong></a></td>
                    <td>{{ fir.station_name }}</td>
                    <td><span class="badge bg-label-success me-1">FIR</span></td>
                </tr>
                {% endfor %}
                {% for csr in completed_csrs %}
                <tr>
                    <td><a href="{% url 'feedback' id=csr.csr_id type='csr' %}"><i
                                class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ csr.subject}}</strong></a></td>
                    <td>{{ csr.station_name }}</td>
                    <td><span class="badge bg-label-info me-1">CSR</span></td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>
{% endblock %}